.highlight {
    background-color: #000;
    color: #fff;
    padding: 1em;
    overflow: auto;
    font-size: 0.9em;
    border-radius: 5px;
    border: 1px solid #444;
}

pre {

    background-color: #000!important;
}